[submodule "Patator/vendor/spdlog"]
	path = Patator/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Patator/vendor/GLFW"]
	path = Patator/vendor/GLFW
	url = https://github.com/El-Naizin/glfw.git
